<div>
	<div ng-hide="learningOutcomes.length > 0 || allowEdit">
		<uib-alert type="info">
			<span translate="learningoutcomes.NoLearningOutcomes" />
		</uib-alert>
	</div>
	<table class="table">
		<thead ng-show="groups.length > 0 || allowEdit">
			<th>&nbsp;</th>
			<th translate="learningoutcomes.LearningOutcomeText"></th>
			<th translate="learningoutcomes.LearningOutcomeTextEN"
				ng-if="allowEdit"></th>
			<th translate="learningoutcomes.LearningOutcomeOper"></th>
		</thead>

		<tbody ng-repeat="group in groups">
			<tr class="ng-table-group"
				ng-show="group.items.length > 0">
				<td colspan="4">
					<strong>{{ group.name | translate }}</strong>
				</td>
			</tr>
			<tr ng-repeat="lo in group.items">
				<td>&nbsp;</td>
				<td ng-if="allowEdit">
					{{lo.Text}}
				</td>
				<td ng-if="allowEdit">
					{{lo.TextEN}}
				</td>
				<td ng-if="!allowEdit">
					{{lo | centrisTranslate : "Text" : "TextEN"}}
				</td>
				<td ng-show="allowEdit">
					<i class="fa fa-times" ng-click="onRemove($index, group)" />
				</td>
			</tr>
		</tbody>

		<tfoot ng-show="allowEdit">
			<tr>
				<td>
					<select ng-model="type" class="form-control">
						<option value="1" translate="learningoutcomes.Knowledge"></option>
						<option value="2" translate="learningoutcomes.Skills"></option>
						<option value="3" translate="learningoutcomes.Competence"></option>
					</select>
				</td>
				<td>
					<input type="text"
						class="form-control"
						ng-model="mainText"
						centris-validate="learningoutcomes.Validation.NotBothEmpty"
						validate-condition="textMissing" />
				</td>
				<td>
					<input type="text" class="form-control" ng-model="mainTextEN" />
				</td>
				<td>
					<button class="btn btn-primary" ng-click="onAdd()">
						<i class="fa fa-plus" ></i>
						<span translate="learningoutcomes.AddKnowledge" />
					</button>
				</td>
			</tr>
		</tfoot>
	</table>
</div>