<div class="row">
	<div ng-class="{'col-md-11': dismiss, 'col-md-12': !dismiss}">
		<h1 ng-show="headerType[0].value">
			<span translate="title"></span>
			<span>{{subtitle}}</span>
		</h1>
		<h2 ng-show="headerType[1].value">
			<span translate="title"></span>
			<span>{{subtitle}}</span>
		</h2>
		<h3 ng-show="headerType[2].value">
			<span translate="title"></span>
			<span>{{subtitle}}</span>
		</h3>
		<h4 ng-show="headerType[3].value">
			<span translate="title"></span>
			<span>{{subtitle}}</span>
		</h4>
		<h5 ng-show="headerType[4].value">
			<span translate="title"></span>
			<span>{{subtitle}}</span>
		</h5>
		<h6 ng-show="headerType[5].value">
			<span translate="title"></span>
			<span>{{subtitle}}</span>
		</h6>
	</div>
	<div ng-show="dismiss" class="col-md-1">
		<button type="button" class="close" ng-click="$dismiss()">
			<span>&times;</span>
		</button>
	</div>
</div>