@import (reference) "src/_variables";

.centris-notify-undo {
	margin-top: 5px;
}

.toast {
	&-error {
		background-color: @centris-red;
		border: 1px solid @centris-red-dark;
		&:hover {
			background-color: @centris-red-hover;
		}
	}
	&-success {
		background-color: @brand-success;
		&:hover {
			background-color: @centris-green-hover;
		}
	}
	&-bottom-right {
		bottom: 23px;
	}
}

#toast-container {
	& > div {
		border-radius: @centris-radius;
		opacity: 1;
		box-shadow: -1px -1px 4px 0 rgba(0, 0, 0, 0.24);
		transform: translate(0px,0px);
		transition: all 200ms;
	}
	& > :hover {
		transform: translate(-2px,-1px);
		box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.54);
	}
}

@media (max-width: 480px) {
	#toast-container {
		padding: 0 5px;
		right: 0px !important;
		width: 100%;
	}
	#toast-container > div {
		width: 100%;
		margin: 0 0 4px 0 !important;
	}
}
