<div ng-if="!model.Title">
	<centris-dialog-header
		titlecode="commentdlg.AddComment">
	</centris-dialog-header>
</div>

<div ng-if="model.Title">
	<centris-dialog-header
		titlecode="{{model.Title}}">
	</centris-dialog-header>
</div>

<div class="modal-body">
	<form role="form" name="commentForm">
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<div ng-show="model.Message">
						<p translate="{{model.Message}}" />
					</div>
					<input type="text"
						class="form-control"
						placeholder="{{'Comment' | translate}}"
						autofocus
						ng-model="model.Comment">
				</div>
			</div>
		</div>
	</form>
</div>

<centris-dialog-footer
	submit="Save"
	cancel="Cancel">
</centris-dialog-footer>