<div class="rooms room-booking">

	<centris-dialog-header
		titlecode="RoomBookingDialog.Book"
		titletext="{{booking.title}}">
	</centris-dialog-header>

	<div class="modal-body">

		<ul class="nav nav-tabs">
			<li ng-click="generalTab()"
				ng-class="{active: forGeneral}">
				<a href><span translate="RoomBookingDialog.General" /></a>
			</li>
			<li ng-click="courseTab()"
				ng-class="{active: forCourse}">
				<a href><span translate="Course" /></a>
			</li>
			<li ng-click="repeatTab()"
				ng-class="{active: forRepeat}">
				<a href><span translate="RoomBookingDialog.Repeat" /></a>
			</li>
		</ul>
		<form class="form-horizontal" role="form">
			<div ng-hide="!forGeneral">
				<div class="form-group">
					<label translate="RoomBookingDialog.BookingType"
						class="control-label col-sm-3" />
					<div class="col-sm-9">
						<span>
							<centris-booking-type-dropdown ng-model="bookingType" />
						</span>
						<span ng-show="bookingType === '2' || bookingType === '3'">
							<centris-groups-dropdown ng-model="booking.groupID" courseinstanceid="courseID" />
						</span>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-3"
						translate="Description" />
					<div class="col-sm-9">
						<textarea name="description"
							class="form-control room-booking-description"
							placeholder="{{ 'RoomBookingDialog.WhatsHappening' | translate }}"
							ng-model="booking.eventDescription"
							focus-me="defaultFocus">
						</textarea>
					</div>
				</div>

				<div class="form-group">
					<label for="dateFrom"
						translate="RoomBookingDialog.DateFrom"
						class="control-label col-sm-3"/>

					<div class="col-sm-9">
						<centris-date-picker
							ng-model="booking.startDate"></centris-date-picker>
					</div>
				</div>

				<div class="form-group" ng-hide="booking.allday">
					<label for="fromTime"
						class="control-label col-sm-3"
						translate="From" />

					<div class="col-sm-4">
						<input type="text"
							id="fromTime"
							class="form-control"
							ng-model="booking.fromTime"
							centris-time-picker
							period="start"/>
					</div>

					<label for="toTime"
						class="control-label col-sm-1"
						translate="To" />

					<div class="col-sm-4">
						<input type="text"
							id="toTime"
							class="form-control"
							ng-model="booking.toTime"
							min-time="booking.fromTime"
							centris-time-picker
							period="stop" />
					</div>
				</div>
			</div>

			<!-- Repeat/Recurrence section! -->
			<div ng-hide="!forRepeat">
				<div class="form-group">
					<!-- Specify the type of recurrence (none/daily/weekly/monthly) -->
					<label for="repeat"
						class="control-label col-sm-3"
						translate="RoomBookingDialog.Repeat">Repeats</label>

					<div class="col-sm-9">
						<select class="form-control"
							ng-model="repeatSelected"
							ng-options="c.text for c in repeatFilter.repeatTypes">
						</select>
					</div>
				</div>

				<!-- Specify when the repeating stops (i.e. after a number of occasions, or
				after a given date) -->
				<div ng-hide="repeatSelected.value == 'None'">
					<div class="form-group">
						<label for="endOnAft"
							class="control-label col-sm-3"
							translate="RoomBookingDialog.EndsOnAfter" />

						<div class="col-sm-4">
							<select class="form-control" id="endOnAft"
								ng-model="repeatFilter.endsAfterType">
								<option value="date" translate="Date">Date</option>
								<option value="occurr" translate="RoomBookingDialog.Occurrences">Occurrences</option>
							</select>
						</div>

						<!-- If end type is set to end at date, specify the date -->
						<div class="col-sm-5" ng-show="repeatFilter.endsAfterType == 'date'">
							<centris-date-picker
								ng-model="repeatFilter.repeatEndDate">
							</centris-date-picker>
						</div>

						<!-- If end type is set to number of occurrences, specify the number -->
						<div class="col-sm-5" ng-show="repeatFilter.endsAfterType == 'occurr'">
							<input class="form-control"
								type="number"
								min="1"
								max="100"
								ng-model="repeatFilter.repeatEndOccur" />
						</div>
					</div>

					<!-- Special case for weekly recurrence: specify which week dates. -->
	<!--
			TODO: not currently supported by the API, re-enable if the need arises!

					<div class="form-group" ng-show="repeatSelected.value == 'Weekly'">
						<label for="repeatOn"
							class="control-label col-sm-3"
							translate="RoomBookingDialog.RepeatOn"></label>
						<div class="col-sm-9">
							<label id="repeatOn"
								class="checkbox-inline"
								style="padding-right:10px"
								ng-repeat="day in repeatFilter.repeatDays">
								<input title="{{day.text}}"
									type="checkbox"
									value="{{day.text}}"
									ng-model="day.selected">{{day.shortText}}
							</label>
						</div>
					</div>
	-->
					<!-- The final block: should the recurrence be every day/week/month,
						every 2nd day/week/month, every 3rd day/week/month etc. -->

					<div class="form-group">
						<div >
							<!--Daily-->
							<div ng-show="repeatSelected.value === 'Daily'">
								<label class="control-label col-sm-3"
									ng-show="repeatFilter.repeatInterval == 1">
									{{ 'RoomBookingDialog.EverySingleDay' | translate }}</label>
								<label class="control-label col-sm-3"
									ng-show="repeatFilter.repeatInterval > 1 ">
									{{ 'RoomBookingDialog.RepeatEveryDay' | translate:repeatFilter }}
								</label>
							</div>
							<!--Weekly-->
							<div ng-show="repeatSelected.value === 'Weekly'">
								<label class="control-label col-sm-3"
									ng-show="repeatFilter.repeatInterval == 1">
									{{ 'RoomBookingDialog.EverySingleWeek' | translate }}</label>
								<label class="control-label col-sm-3"
									ng-show="repeatFilter.repeatInterval > 1 ">
									{{ 'RoomBookingDialog.RepeatEveryWeek' | translate:repeatFilter }}
								</label>
							</div>
							<!--Monthly-->
							<div ng-show="repeatSelected.value === 'Monthly'">
								<label class="control-label col-sm-3"
									ng-show="repeatFilter.repeatInterval == 1">
									{{ 'RoomBookingDialog.EverySingleMonth' | translate }}</label>
								<label class="control-label col-sm-3"
									ng-show="repeatFilter.repeatInterval > 1 ">
									{{ 'RoomBookingDialog.RepeatEveryMonth' | translate:repeatFilter }}
								</label>
							</div>
						</div>
						<div class="col-sm-9">
							<input class="form-control"
								type="number"
								min="1"
								max="10"
								ng-model="repeatFilter.repeatInterval" />
						</div>
					</div>
				</div>
			</div>

			<div ng-hide="!forCourse">
				<div class="form-group"
					ng-hide="room">
					<label translate="RoomBookingDialog.Room"
						class="control-label col-sm-3"/>

					<div class="col-sm-9">
						<centris-room-dropdown
							ng-model="roomID"
							multiple-select="false" />
					</div>
				</div>

				<div class="form-group"
					ng-hide="courseInstance">
					<label translate="Semester"
						class="control-label col-sm-3"/>

					<div class="col-sm-9">
						<centris-semester-dropdown
							ng-model="semester"
							multiple-select="false"
							default-semester="true" />
					</div>
				</div>

				<div class="form-group"
					ng-hide="courseInstance">
					<label translate="Course"
						class="control-label col-sm-3"/>
					<div class="col-sm-9">
						<centris-course-dropdown
							ng-model="courseID"
							semester="semester"
							department="departmentID" />
					</div>
				</div>

				<div class="form-group">
					<label translate="Teacher"
						class="control-label col-sm-3"/>
					<div class="col-sm-9">
						<centris-teacher-dropdown
							ng-model="booking.teacherSSN"
							courseinstanceid="courseID" />
					</div>
				</div>
			</div>

		</form>
	</div>

	<centris-dialog-footer submit="RoomBookingDialog.Book" on-submit="bookEvent()"></centris-dialog-footer>
</div>
