<div class='module-header-container'>
	<div>
		<h2 translate="login.Title"></h2>
	</div>
</div>

<div class="row">
	<div class="col-sm-10 col-md-8 col-lg-6">
		<form ng-submit="login()" class="form-horizontal">
			<div class="form-group">
				<label for="username"
				       class="col-sm-3 control-label"
				       translate="login.Username"></label>

				<div class="col-sm-9">
					<input type="text"
					       id="username"
					       class="form-control"
					       ng-model="user.username.value"
					       focus-me="usernameFocus"
					       placeholder="{{ 'login.Username' | translate }}">
				</div>
			</div>
			<div class="form-group">
				<label for="pass"
				       class="col-sm-3 control-label"
				       translate="login.Password"></label>

				<div class="col-sm-9">
					<input type="password"
					       id="pass"
					       class="form-control"
					       ng-model="user.password.value"
					       placeholder="{{ 'login.Password' | translate }}">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<button class="btn btn-primary"
						type="submit"
						ng-disabled="loginInProgress">
						{{ loginButtonText | translate }}
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<uib-alert type="danger" ng-show="error">
	{{ 'login.LoginError' | translate }}
</uib-alert>