<div ng-show="showDialog"><!-- Required because of screenshot functionality -->
	<centris-dialog-header
		titlecode="ErrorReport.Title">
	</centris-dialog-header>

	<div class="modal-body">
		<form role="form" name="form.reportForm" novalidate>

			<div ng-show="errors.MessageMissing">
				<uib-alert type="warning">
					<span translate="ErrorReport.MessageRequired" />
				</uib-alert>
			</div>

			<div class="form-group">
				<label class="control-label"
					for="reportMessage"
					translate="ErrorReport.Message">Message</label>
				<textarea class="form-control"
					rows="3"
					name="reportMessage"
					ng-model="model.Message"
					autofocus
					ng-change="onChangeMessage"
					required></textarea>
			</div>
			<div class="form-group">
				<button type="button"
					class="btn btn-warning"
					ng-click="capture()"
					ng-hide="imageCaptured">
					<span translate="ErrorReport.Screenshot">Screenshot</span>
				</button>
				<span ng-bind-html="screenshot"></span>
			</div>
		</form>
	</div>
	<centris-dialog-footer
		on-submit="validate()"
		submit="ErrorReport.Send">
	</centris-dialog-footer>
</div>