<centris-dialog-header titlecode="imgcropper.Title"></centris-dialog-header>
<div class="cropperContainer">
	<form action="">
		<!-- input field for files -->
		<file-uploader valfunc="valfunc" recfunc="recfunc"></file-uploader>

		<!-- shows crop settings such as crop btn, scale slider and image to be cropped -->
		<div ng-show="beforeCrop">
			<button class="pull-left btn btn-primary btn-save ng-scope"
				id="crop"
				ng-click="cropImg()"
				translate="imgcropper.Crop">
			</button>
			<scale-slider slideMin="slideMin"
				slideMax="slideMax"
				scale="scale">
			</scale-slider>
			<img-cropper croppedimg="croppedimg"
				width="width"
				height="height"
				scale="scale"
				value="value"
				cropit="cropit">
			</img-cropper>
		</div>
	</form>
	<form action="">
		<!-- shows save btn and the cropped image  -->
		<div ng-show="afterCrop">
			<div>
				<img class="cropped-img"
					id="croppedImg"
					src="croppedimg" />
			</div>
			<div>
				<button class="pull-left btn btn-primary btn-save ng-scope save-image"
					id="save"
					ng-click="saveImg()"
					translate="Save">
				</button>
			</div>
		</div>
	</form>
</div>
