.currentUserContainer {
	line-height: 50px;
	margin: 0;
	white-space: nowrap;
	width: auto;

	.img-polaroid {
		border-radius: 50%;
		float: none !important;
		height: 35px;
		margin: -3px 0 0 4px !important;
		width: 35px;
		object-fit: cover;
		object-position: center;
	}

	.user-icon {
		display: none !important;
	}

	.username {
		color: #fff;
		display: inline-block;
		margin: 0;
	}
}
