<div ng-controller="UserDropDownController" uib-dropdown>
	<a href class="username-display"
		uib-dropdown-toggle>
		<div class="currentUserContainer" id="IntroHomeStep4">
			<!-- Note: the id of this element is used when introducing the system to the user -->
			<p class="username" ng-bind="currentUser"></p>
			<centris-person-image ssn="currentUserSSN"></centris-person-image>
		</div>

		<i class="icon-angle-down"></i>
	</a>
	<ul class="uib-dropdown-menu user-dropdown-men pull-right"
		role="menu"
		uib-dropdown-menu >
		<li role="menuItem" ng-show="showMenuItem">
			<a href="#/profile">
				<i class="fa fa-fw fa-user"></i>
				<span translate="userdropdown.MyProfile" />
			</a>
		</li>
		<li role="menuItem" ng-show="showMenuItem">
			<a href="#/schedule">
				<i class="fa fa-fw fa-calendar"></i>
				<span translate="userdropdown.MySchedule" />
			</a>
		</li>
		<li class="divider" ng-show="showMenuItem"></li>
		<!-- Shows all languages except the one in current use -->
		<li role="menuItem" ng-repeat="language in languages" ng-if="language.value!=currentLanguage">
			<a ng-click="changeLanguage(language.value)" >
				<img ng-src="{{language.icon}}" alt="Flag"/>
				<span>{{language.name}}</span>
			</a>
		</li>
		<li class="divider" ng-show="showMenuItem"></li>
		<li role="menuItem" ng-show="showMenuItem">
			<a href="#/issues">
				<i class="fa fa-fw fa-ticket"></i>
				<span translate="userdropdown.Issue" />
			</a>
		</li>
		<li class="divider"></li>
		<li role="menuItem">
			<a ng-click="reportError()">
				<i class="fa fa-fw fa-flag"></i>
				<span translate="userdropdown.Report" />
			</a>
		</li>
		<li class="divider"></li>
		<li role="menuItem">
			<a href="#/about">
				<i class="fa fa-fw fa-info"></i>
				<span translate="userdropdown.About" />
			</a>
		</li>
		<li class="divider" ng-show="showMenuItem"></li>
		<li role="menuItem" ng-show="showMenuItem">
			<a href="#" ng-click="onLogout()">
				<i class="fa fa-fw fa-sign-out"></i>
				<span translate="userdropdown.LogOut" />
			</a>
		</li>
	</ul>
</div>
