/*
 * Styling for events
 */
/*
 * ID_Time	sName						sAltName
 * -3		Stofubókun					Booking room
 * -2		Endurtektarpróf/sjúkrapróf	Rep/Sick
 * -1		Lokapróf					Final exam
 * 1		Fyrirlestrar				Lectures
 * 2		Dæmatímar					Workshop
 * 3		Verklegir tímar				Workshop
 * 4		Skilaboð					Message
 * 5		Viðtalstími					Appointment
*/
.eventBookingRoom {
	background-color: #2AB21C;
}

.eventRepSick {
	background-color: #D6222B;
}

.eventFinalExam {
	background-color: #D6222B;
}

.eventLecture {
	background-color: #15867E;
}

.eventWorkshop {
	background-color: #DA7223;
}

.eventMessage {
	background-color: #631E92;
}

.eventAppointment {
	background-color: #234891;
}

.eventNoType {
	background-color: #ABABAB;
}

/*
 * Schedule tooltips
 */
.popover-content {
	white-space: pre-wrap;
}

/* TODO: we need to get the import back working, so we can
   use the variable @centris-red both in SMS and LMS!
*/
.popover-title {
	background-color: #bf2a1d !important;
	color: white;
}