<div ng-if="!model.Title">
	<centris-dialog-header
		titlecode="warningDialogExam.ShowMessage">
	</centris-dialog-header>
</div>

<div ng-if="model.Title">
	<centris-dialog-header
		titlecode="{{model.Title}}">
	</centris-dialog-header>
</div>

<div class="modal-body">
	<form role="form" name="commentForm">
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<div ng-show="model.Message">
						<p translate="{{model.Message}}" />
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<centris-dialog-footer
	submit="Yes"
	cancel="Cancel">
</centris-dialog-footer>