<div class='module-header-container'>
	<div>
		<h2 translate='about.Title'></h2>
	</div>
</div>

<p translate="about.MainText" ></p>
<p translate="about.Contributors" ></p>

<ul>
	<li ng-repeat="contributor in contributors" >
		{{contributor.Name}}
	</li>
</ul>