/* Many modules will have a h2 and a "Add" button to the right.
   In order to avoid having the bottom of the button glued to
   the top of the content below, we can add this class to the
   top row. NOTE: is used by the <centris-page-header> directive. */
.centris-page-header {
	margin-top: 0 !important;
	margin-bottom: 1em;

	h2 {
		display: inline;
	}

	.centris-header-controls {
		display: inline;
	}
}
