<div class="modal-header">
	<h3 class="modal-title" translate="Issues.Actions.create"></h3>
</div>

<div class="modal-body">
	<div class="panel-body issues-form">
		<form name="issueForm" ng-submit="postIssue()">
			<div class="form-group" ng-if="!issueType">
				<label for="issueType"
					   translate="Issues.Common.type">
				</label>
				<select required class="form-control"
						name="issueType"
						id="issueType"
						ng-model="issueType"
						ui-select2>

					<option value=""></option>

					<option ng-selected="issueType"
							ng-if="lang === 'en'"
							ng-repeat="type in types"
							value="{{type.name}}">
						{{type.descriptionEN}}
					</option>

					<option ng-selected="issueType"
							ng-if="lang === 'is'"
							ng-repeat="type in types"
							value="{{type.name}}">
						{{type.descriptionIS}}
					</option>
				</select>
			</div>

			<div class="form-group" ng-if="!departmentID">
				<label for="department" translate="Department"></label>
				<centris-department-dropdown
						name="department"
						id="department"
						ng-model='departmentID'
						on-update-department='depChange(department)'
						json-dep-placeholder=''>
				</centris-department-dropdown>
			</div>

			<div class="form-group">
				<label for="issueDescription"
					   translate="Issues.Common.description">
				</label>
				<textarea required class="form-control"
						  name="issueDescription"
						  id="issueDescription"
						  ng-model="description"
						  rows="5">
				</textarea>
			</div>
		</form>
	</div>
</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="postIssue()">
		<span translate="Issues.Actions.submit"></span>
	</button>
	<button class="btn btn-default" ng-click="cancel()">
		<span translate="Issues.Actions.cancel"></span>
	</button>
</div>